@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Kurenaido&display=swap');

body * {
    font-family: "Gentium Basic", serif;
}

h1, h1 a, h2 {
    font-family: "Zen Kurenaido", sans-serif !important;
}

a, a:active, a:hover, a:visited {
    color: #555;
}
a.footnote-ref {
    font-weight: bolder;
    text-decoration: none;
    background-color: #ddd;
    margin: 1px;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 2px;
}

main {
    font-size: 14pt !important;
    line-height: 1.8;
}
main blockquote {
    border: none;
}
.next {
    font-family: "Zen Kurenaido", sans-serif !important;
    display: block;
    margin: 0 auto;
    font-size: 40pt;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

.modal {
  display: none;
}
.modal.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.modal.active aside {
  position: relative;
  background-color: #fff;
  display: block;
  border: 1px solid #333;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  max-width: calc(640px - 2rem);
  margin: 0.51rem auto;
  padding: 1rem;
  max-height: calc(100vh - 2rem);
  overflow: scroll;
}
.modal.active aside aside {
  background-color: #eee;
}
.modal aside h3 {
  text-align: center;
}

@media only screen and (max-width: 640px) {
    .modal.active aside {
        width: calc(100% - 4rem);
    }
}
