@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");

body * {
    font-family: "Gentium Book Basic", serif;
}

h1 small span:before {
    content: " ";
    display: block;
    border-top: 1px solid currentcolor;
    width: 45%;
    height: 0.5rem;
}
h1 small span {
    font-weight: normal;
    display: inline-block;
    margin-top: 3rem;
}

a, a:active, a:hover, a:visited {
    color: #555;
}
main {
    font-size: 14pt !important;
    line-height: 1.8;
}
main blockquote {
    border: none;
}
main h1 {
    font-weight: normal;
}
.next {
    font-family: sans-serif !important;
    display: block;
    margin: 0.5rem auto 1rem auto;
    font-size: 40pt;
    text-align: center;
    text-decoration: none;
}
.phantom {
    visibility: hidden;
}
