@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Kurenaido&display=swap');

body * {
    font-family: "Gentium Basic", serif;
}

h1, h1 a, h2 {
    font-family: "Zen Kurenaido", sans-serif !important;
}

a, a:active, a:hover, a:visited {
    color: #555;
}
main {
    font-size: 14pt !important;
    line-height: 1.8;
}
main blockquote {
    border: none;
}
.next {
    font-family: "Zen Kurenaido", sans-serif !important;
    display: block;
    margin: 0.5rem auto 1rem auto;
    font-size: 40pt;
    text-align: center;
    text-decoration: none;
}

